@model DLMS.Models.FullPayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FullPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.car_manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.car_manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dealer.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dealer.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.downpayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.downpayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
